<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/Yl6mhfSOFGP9pO4B5fmNquqnb5t7aT1Zrjzof0SQ" async></script>
<style>
    .stars{
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 8px 0;
    }
    .star{
        margin-right: 4px;
    }
</style>

<!-- <ul class="stars">
    <li class="star">
        {% render 'icon-star' %}
    </li>
    <li class="star">
        {% render 'icon-star' %}
    </li>
    <li class="star">
        {% render 'icon-star' %}
    </li>
    <li class="star">
        {% render 'icon-star' %}
    </li>
    <li class="star">
        {% render 'icon-star' %}
    </li>
</ul> -->

<div class="yotpo-widget-instance" data-yotpo-instance-id="250197" data-yotpo-product-id="{{product.id}}"></div>