<!-- /templates/customers/reset_password.liquid -->

<style>
  .reset{
        width: 442px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Open Sans';
        margin: 80px auto 120px auto;
    }
.register__input--wrapper{
        border-bottom: 1px solid #C4C4C4;
        margin-bottom: 24px;
    }
    .register__label{
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 167.5%;
    }
    .register__input{
        width: 442px;
        border: none;
        outline: none;
        padding: 8px 0 12px 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 167.5%;
        color: #000;
    }
    .register__button{
        background-color: black;
        border: 1px solid black;
        color: #fff;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.175em;
        text-transform: uppercase;
        width: 100%;
        display: block;
        height: 43px;
        cursor: pointer;
    }
    .register__button:hover{
        background-color: transparent;
        color: #000;
    }
    .errors ul{
        list-style-type: none;
        padding: 0;
    }
    .errors li{
        color: #DA0000;
        font-weight: 400;
        font-size: 12px;
        line-height: 167.5%;
    }
</style>

<div class="reset">
  <h3 class="reset__title">{{ 'general.reset_password.title' | t }}</h3>
{% form 'reset_customer_password' %}
<div class="register__inputs--wrapper">
<div class="register__input--wrapper">
  <label class="register__label" for="password">{{ 'general.reset_password.password' | t }}</label>
  <input class="register__input" id="password" placeholder="Password" type="password" value="" name="customer[password]" size="30" />
</div>

<div class="register__input--wrapper">
  <label class="register__label" for="password_confirmation">{{ 'general.reset_password.confirmation' | t }}</label>
  <input class="register__input" id="password_confirmation" placeholder="password_confirmation" type="password" value="" name="customer[password_confirmation]" size="30" />
</div>
</div>
{{ form.errors | default_errors }}
<input class="register__button" type="submit" value="Reset Password" />

{% endform %}
</div>