{{ 'style.pdp-sections.css' | asset_url | stylesheet_tag }}
{% assign banner_image = product.metafields.accentuate.banner_image %}
{% assign banner_text = product.metafields.accentuate.banner_text %}

<div class="container">
<div class="pdp__sections">
<span class="pdp-sections__span"></span>
<span class="pdp-sections__span2"></span>
<span class="pdp-sections__span3"></span>
<div class="pdp-sections__wrapper">
    {% for item in (1..banner_text.size) %}
        <div class="pdp-sections">
            <div class="pdp-sections__div product__content">
                {% if banner_text[forloop.index0] != blank %}
                    {{ banner_text[forloop.index0] }}
                {% endif %}
            </div>
            <div class="pdp-sections__div">
                {% if banner_image[forloop.index0] != blank %}
                    <img width="100%" height="100%" class="pdp-sections__image" src="{{ banner_image[forloop.index0][0].src }}" alt="">
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
</div>
</div>