    .product__wrapper{
      display: flex;
      margin: 50px 0 0 0;
      font-family: 'Open Sans';
      position: relative;
    }
    .product__div{
      width: 50%;
    }
    .product__div--wrapper{
      /* width: 442px; */
      margin: 0 auto;
      padding: 0 75px;
    }
    .product__stars{
      display: flex;
      align-items: center;  
    }
    .product__price{
      margin: 8px 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 167.5%;
    }
    .product__title{
      margin-bottom: 0;
    }
    .product__span{
      font-weight: 300;
      font-size: 14px;
      line-height: 167.5%;
    }
    .product__description{
      font-weight: 400;
      font-size: 14px;
      line-height: 167.5%;
      margin: 24px 0 16px 0;
    }
    .variant__cards{
      height: 130px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      /* grid-template-rows: 1fr; */
      overflow-y: auto;
      grid-gap: 8px;
    }
    .variant{
      padding: 16px 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 167.5%;
      text-align: center;
      border: 1px solid #F1F1F1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
    }
    .variant:hover{
      border: 1px solid #000;
    }
    .disabled{
      padding: 16px 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 167.5%;
      text-align: center;
      text-decoration-line: line-through;
      color: #C4C4C4;
      border: 1px solid #F1F1F1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
    }
    .product__label{
      font-weight: 400;
      font-size: 14px;
      font-style: italic;
      line-height: 167.5%;
      color: #979797;
      margin: 16px 0 24px 0;
    }
    .product__button{
      width: 100%;
      padding: 14px 0;
      border: 1px solid black;
      background-color: black;
      color: #fff;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.175em;
      text-transform: uppercase;
      cursor: pointer;
    }
    .product__button:hover{
      background-color: transparent;
      color: black;
    }
    .product__list{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
    .product__item{
      display: flex;
      align-items: center;
      grid-gap: 20px;
    }
    .product__item--image{
      width: 98px;
      height: 125px;
    }
    .product__item--title{
      text-transform: capitalize;
      font-weight: 400;
      font-size: 14px;
      line-height: 167.5%;
      margin: 0;
    }
    .product__item--link{
      color: #000;
      margin: 0;
      font-weight: 300;
      font-size: 14px;
      line-height: 167.5%;
    }
    .variant-radio{
      display: none;
    }
    .variant-radio:checked ~ .variant{
      /* opacity: 1; */
      border: 1px solid #000;
    }
    .recharge-frequency-option{
      display: none;
    }
    .recharge-frequency-label,
    .recharge__label{
      width: 100%;
      padding: 12px 10px; 
    }
    .recharge-frequency-text{
      width: 100%;
      padding: 12px 10px; 
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      cursor: pointer;
      border-radius: 5px;
      color: #5d5d5d;
      border: 1px solid #5d5d5d;
    }
    .recharge-frequency-option:checked ~ .recharge-frequency-text{
      background-color: #0075FF;
      border: 1px solid #0075FF;
      color: #fff;
    }
    .recharge__frequency--div,
    .recharge__div{
      display: flex;
      gap: 10px;
      padding: 0 20px 0 0;
      flex-wrap: wrap;
    }
    .recharge-text{
      width: 100%;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;
      color: #5d5d5d;
      cursor: pointer;
      padding: 12px 10px;
      position: relative;
      border-radius: 5px;
      display: flex;
      align-items: center;
      border: 1px solid #5d5d5d;
      justify-content: center;
    }
    .recharge-option{
      position: absolute;
      margin-top: 15px;
      margin-left: 15px;
    }
    .recharge-option:checked ~ .recharge-text{
      background-color: #3F9BC91A;
    }
    .recharge__text{
      color: #5d5d5d;
      font-size: 14px;
      margin: 8px 0;
    }
    .recharge__title{
      margin: 0;
      text-transform: capitalize;
      color: #5d5d5d;
    }
    /* #3F9BC91A */

@media  (max-width: 800px) {
    .product__wrapper{
        display: block;
    } 
    .product__div{
        width: 100%;
    }
}

@media (max-width: 900px){
    .product__div--wrapper{
        padding: 0 20px;
    }
}

@media (max-width: 400px){
    .product__list{
      display: flex;
      flex-wrap: wrap;
    }
}