.announcement{
    text-align: center;
    padding: 10px 0;
    background: #FBFBFB;
    font-family: 'Oswald';
}
.announcement__link{
    text-decoration: none;
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 12px;
    line-height: 168%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000;
}