.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__title{
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 12px;
  line-height: 168%;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}


.slider{
  margin: 100px 40px;
}
.slider__wrapper{
  margin-bottom: 40px;
}