.pdp-sections__wrapper{
    position: relative;
}
.pdp__sections{
    position: relative;
    font-family: 'Open Sans';
    color: #fff;
    background-color: #000;
}
.pdp-sections{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0 80px 40px;
}
.pdp-sections:nth-child(2n+1){
    padding-left: 80px;
    padding-right: 40px;
}
.pdp-sections:first-child{
    padding: 0 0 0 80px;
}
.pdp-sections:nth-child(2n){
    flex-flow: row-reverse;
}
.pdp-sections__div{
    width: 50%;
}
.pdp-sections__image{
    max-width: 100%;
    object-fit: cover;
}
.product__content{
    width: 600px;
}
.product__content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 167.5%;
}
.product__content h3{
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.product__content ul{
    list-style-type: none;
    padding: 0;
}
.product__content li{
    font-weight: 700;
    font-size: 16px;
    line-height: 167.5%;
    padding: 8px 0;
}
.product__content li::before{
    content: '/';
    font-weight: 700;
    font-size: 16px;
    line-height: 167.5%;
    color: #C2A578;
    margin-right: 9px;
}
.pdp-sections__span,
.pdp-sections__span2,
.pdp-sections__span3{
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #C2A578;
    left: 25%;
    opacity: 0.2;
}
.pdp-sections__span2{
    left: 50%;
}
.pdp-sections__span3{
    left: 75%;
}

@media (max-width: 1150px){
    .pdp-sections__span,
    .pdp-sections__span2,
    .pdp-sections__span3{
        display: none;
    }
    .pdp-sections{
        flex-wrap: wrap;
        justify-content: center;
    }
    .pdp-sections__div{
        width: 100%;
    }
    .pdp-sections:first-child{
        padding: 58px 24px;
    }
    .pdp-sections:nth-child(2n+1){
        padding: 40px 24px;
    }
    .pdp-sections:nth-child(2n){
        flex-flow: column-reverse;
        padding: 40px 24px;
    }
    .product__content h2{
        font-size: 32px;
        font-weight: 700;
        line-height: 143%;
        letter-spacing: 0.14em;
    }
}

@media (max-width: 500px){
    .product__content h3{
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.08em;
        margin: 0;
    }
    .product__content p{
        font-size: 12px;
    }
    .product__content h2{
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0.08em;
    }
    .product__content li{
        font-weight: 400;
        font-size: 12px;
        line-height: 167.5%;
    }
}