{{ 'style.pdp.css' | asset_url | stylesheet_tag }}

<div class="container">
<div class="product__wrapper">
  <div class="product__div">
    {% section 'pdp-slider' %}
  </div>
  <div class="product__div">
    {% section 'pdp-hero' %}
  </div>
</div>
</div>


{% section 'cart-section' %}

{% section 'pdp-sections' %}

{% section 'pdp-recomendation' %}

{% section 'yotpo-section' %}

{% section 'pdp-schema' %}


<script>
  const priceofDetails = document.querySelector('.product__price');
  const badgeContainers = document.querySelector('.variant__card');
  const form = document.querySelector('#AddToCartForm');
  
  const productLink =  document.querySelector('.product__item--link');
  productLink.addEventListener('click', (e) => {
    console.log(e.target.dataset.id);
  })
  
  function badgeContainer(pricee){
    priceofDetails.innerText = `$${String(pricee).slice(0, -2)}.00`
  }

</script>

{{ 'script.cart.js' | asset_url | script_tag }}
{{ 'cart.js' | asset_url | script_tag }}